::ng-deep .p-button {
  padding: 0.5rem 1rem !important;
}
button{
  font-size: 11px !important;
}


::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button {
  font-size: 11px !important;
}

.image-modal {
  width: 80% !important;
  max-width: 80% !important;
}

::ng-deep {
  .p-dialog-mask.p-component-overlay {
    .p-dialog {
      display: flex;
      flex-direction: column;
      pointer-events: auto;
      max-height: 90%;
      width: 80% !important;
      transform: scale(1);
      position: relative;
    }

  }
}
