.auto-complete{
  ::ng-deep .p-button.p-button-icon-only {
     padding: 18px !important;
  }

  ::ng-deep .p-autocomplete .p-autocomplete-panel {
    max-height: 110px !important;
    font-size: 12px;
  };

  ::ng-deep .p-autocomplete-dd .p-autocomplete-input, .p-autocomplete-dd .p-autocomplete-multiple-container {
    font-size: 13px !important;
    height: 38px !important;
  }

  ::ng-deep .p-autocomplete {
    width: 100% !important;
  }


    ::ng-deep .auto-complete .p-autocomplete .p-autocomplete-panel {
      width: 197px !important;
    }


  ::ng-deep .p-autocomplete .p-autocomplete-multiple-container{
    width: 80% !important;
  }

  ::ng-deep .p-autocomplete-dd .p-autocomplete-input, .p-autocomplete-dd .p-autocomplete-multiple-container {
    width:100% !important;
  }


}

::ng-deep .p-autocomplete-dd .p-autocomplete-input, .p-autocomplete-dd .p-autocomplete-multiple-container {
  width:100% !important;
}
