<div class="row">
<!--  <div class="col-md-12">-->
<!--    <img *ngIf="!url.includes('.pdf')" [src]="url" alt="" style="height: 400px; max-width: 100%; width: 100% ">-->

<!--    <pdf-viewer *ngIf="url.includes('.pdf')" [src]="url"-->
<!--                [render-text]="true"-->
<!--                [original-size]="false"-->
<!--                style="width: 100%;height: 400px; "-->
<!--    ></pdf-viewer>-->
<!--  </div>-->

  <!-- save -->
  <div  class="col-md-12 p-mt-2 p-text-right">
<!--    <app-main-button [label]="'Télécharger'"-->
<!--                     [icon]="'pi pi-download'"-->
<!--                     [class]="'btn-primary'"-->
<!--                     (sendAction)="download()"-->
<!--    ></app-main-button>-->
  </div>
</div>
