<div class="{{ origin == 'passenger' ? 'field-passenger' : origin == 'under' ? 'field-under' : 'field' }} " >
  <label for="label" >
    {{ label }}
    <i *ngIf="state=='view'  && canEdit()" (click)="changeState()" class="fa fa-pencil field-form-edit"></i>
  </label><br>
  <div *ngIf="state=='view'" (click)="changeState()"
       style="font-weight: 300; cursor:pointer; margin-top:2px; {{'font-size:'+size+'px'}};">
    <span class="field-form-element">{{field}}</span>
  </div>

  <p-inputNumber
    id="label"
    [(ngModel)]="field"
    *ngIf="state=='edit' && mask == 'number'"
    (ngModelChange)="changeField($event)"
    (blur)="changeField(field)"
    class="{{ isError ? 'ng-invalid ng-dirty' : ''}}"
    [max]="max"
    [disabled]="disabled"

  ></p-inputNumber>

  <p-inputMask
    [(ngModel)]="field"
    *ngIf="state=='edit' && mask != 'number'"
    (ngModelChange)="changeField($event)"
    (blur)="changeField(field)"
    class="{{ isError ? 'ng-invalid ng-dirty' : ''}}"

    [type]="type"
    [disabled]="disabled"
    [mask]="mask"
    [placeholder]="placeholder"
    [slotChar]="slotChar"></p-inputMask>
<br>
  <!--         oninput="this.type!='number' ? this.value=this.value.replace(/[^0-9]/g,'') : ''"-->
  <div *ngIf="isError" id="username2-help" class="p-error block field-form-error" >
    {{ message }}
  </div>
</div>
