<div class="{{ origin != 'passenger' ? 'field' : 'field-passenger' }} " >
  <label for="label" *ngIf="id != 'templateSave'">
    {{ label }}
    <i *ngIf="state=='view'  && canEdit()" (click)="changeState()" class="fa fa-pencil field-form-edit"></i>
  </label><br>
  <div *ngIf="state=='view' && id != 'templateSave'" (click)="changeState()"
       style="font-weight: 300; cursor:pointer; margin-top:2px; {{'font-size:'+size+'px'}};">
    <span class="field-form-element">{{field}}</span>
  </div>
  <input [(ngModel)]="field"
         *ngIf="state=='edit' && id != 'templateSave'"
         (ngModelChange)="changeField($event)"
         (blur)="changeField(field)"
         class="form-control-sm {{ isError ? 'ng-invalid ng-dirty' : ''}}"
         style="width: 100%;"
         id="label"
         [disabled]="disabled"
         [readOnly]="readOnly"
         [max]="max"
         [maxlength]="getMaxLength()"
         [type]="type"
         aria-describedby="articleName-help"
         pInputText/><br>

  <div *ngIf="id == 'templateSave' && this.state == 'edit'" class="field-checkbox">
    <p-checkbox  (ngModelChange)="changeFieldCheckBox($event)" [(ngModel)]="field" [binary]="true" id="binary" ></p-checkbox>
    <label for="binary">{{ label }} </label>
  </div>


  <!--         oninput="this.type!='number' ? this.value=this.value.replace(/[^0-9]/g,'') : ''"-->
  <div *ngIf="isError" id="username2-help" class="p-error block field-form-error" >
    {{ message }}
  </div>
</div>
