

.globalForm{

  ::ng-deep .p-tabview .p-tabview-nav {
    background: transparent !important;
    font-size: 13px !important;
  }
  ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: transparent !important;
  }

  ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: transparent !important;
  }

  ::ng-deep .p-tabview .p-tabview-panels {
    background: transparent !important;
  }
}
