<div class="row" style="font-size: 19px; padding: 20px" >
  <div class="col-md-4">
    Transactions :
    <span style="font-weight: 800">{{ getTotalAmount() | numberFormat }} {{ objects[0]?.transactionDevice}}</span>
  </div>
<!--  <div class="col-md-4">Parts SimoWay :-->
<!--    <span style="font-weight: 800">{{ getSimowayAmount()  | numberFormat }} {{ objects[0]?.transactionDevice}}</span>-->
<!--  </div>-->
<!--  <div class="col-md-4">Parts Opérateurs:-->
<!--    <span style="font-weight: 800">-->
<!--                {{  (getTotalAmount()-getSimowayAmount()) |numberFormat }}-->
<!--                </span>-->
<!--  </div>-->
</div>

