<div class="row main-table table-main">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div>


          <button [disabled]="loading" (click)="saveList()" style="float: right; margin-top: -5px" type="button"
                  class="mr-2 btn btn-xs btn-success">
            <i *ngIf="!loading" class="fas fa-save mr-2"></i>
            <i *ngIf="loading" class="spinner-grow mr-2" style="width: 13px; height: 13px"></i>
            Enregistrer
          </button>


          <button [disabled]="loading" (click)="back()" style="float: right; margin-top: -5px" type="button"
                  class="mr-2 btn btn-xs btn-secondary">
            <i class="fas fa-arrow-left mr-1"></i> Retour
          </button>

          <button *ngIf="selectedList?.message?._id" [disabled]="loading" (click)="isEdit=!isEdit" style="float: right; margin-top: -5px" type="button"
                  class="mr-2 btn btn-xs btn-primary">
            <span *ngIf="!isEdit"><i class="fas fa-eye mr-1"></i> Mode visualisation</span>
            <span *ngIf="isEdit"><i class="fas fa-edit mr-1"></i> Mode Edition</span>
          </button>

          <button *ngIf="selectedList && selectedList._id && selectedList?.message?._id" [disabled]="loading" (click)="download()" style="float: right; margin-top: -5px" type="button"
                  class="mr-2 btn btn-xs btn-danger">
            <i *ngIf="!loading"  class="fas fa-file-pdf mr-1"></i>
            <i *ngIf="loading" class="spinner-grow mr-2" style="width: 13px; height: 13px"></i>
            Télécharger
          </button>



          <div style="display: flex">
            <h6 class="card-title" style="display: flex">
              <div style="font-size:20px; margin-top:-3px" class="ri-list-ordered mr-2"></div>
              <div>
                <span>{{ title}}</span>
              </div>
            </h6>
          </div>


        </div>


        <div class="table-main" *ngIf="!isEdit">


          <!-- begin table -->
          <div class="row" style="margin-top: 20px">
            <div class="col-md-4">
              <!-- autocomplete -->
              <app-main-auto-complete
                [field]="selectedList"
                (sendField)="change($event)"
                [options]="listMainEvent"
                [id]="'message'"
                [label]="'Selectionner le culte'"></app-main-auto-complete>
            </div>
            <div class="col-md-12"></div>
            <div class="col-md-4" *ngIf="selectedList && selectedList.message">
              <!-- input -->
              <app-main-input
                [field]="selectedList.message.label"
                [id]="'message'"
                (sendField)=" selectedList.message.label = $event"
                [size]="'20'"
                [isRequire]="true"
                [label]="'Titre du message'"></app-main-input>
            </div>
            <div class="col-md-12"></div>

            <div class="col-md-8" *ngIf="selectedList && selectedList.message">
              <!-- editor -->
              <label>Message du jour</label>


              <p-editor [(ngModel)]="selectedList.message.message" [style]="{'height':'320px'}">
              </p-editor>
              <br><br>

            </div>

            <div class="col-md-12"></div>

            <div class="col-md-8" *ngIf="selectedList && selectedList.message">
              <!-- editor -->
              <app-main-editor
                [size]="'5'"
                [id]="'comment'"
                [field]="selectedList.message.comment"
                (sendField)="getComment($event)"
                [label]="'Commentaire'"></app-main-editor>

            </div>

          </div>

          <div style="margin-top: 15px">
            <button [disabled]="loading" (click)="saveList()" type="button" class="mr-2 btn btn-lg btn-success">
              <i *ngIf="!loading" class="fas fa-save mr-1"></i>
              <i *ngIf="loading" class="spinner-grow mr-2" style="width: 16px; height: 16px"></i>
              Enregistrer
            </button>
          </div>


        </div>

        <div *ngIf="isEdit" class="mt-5">


          <div class="mt-3">
            <h4>Sujet</h4>
            <h2>{{ selectedList.message?.label}}</h2>
          </div>

          <div class="mt-5 mb-3" ><h4>Message</h4></div>
          <div style="background-color: whitesmoke; padding: 15px">
            <div [innerHTML]="selectedList.message?.message"></div>
          </div>


          <div class="mt-5 mb-3"><h4>Commentaire</h4></div>
          <div  [innerHTML]="selectedList.message?.comment"></div>
        </div>
      </div>
    </div>
  </div>
</div>


