<div class="loading-partial">
  <div  class="spinner-wrapper" style="text-align: center">
    <div>
      <span class="spinner-border primary-text" style="width: 60px; height: 60px"></span><br><br>
      <span style="margin-top: 10px; font-size:15px; color:var(--bs-secondary)">{{ message }}</span>
    </div>
  </div>
<!--  <div class="spinner-wrapper">-->
<!--    <div style="display: flex; justify-content: center">-->
<!--      <div class="spinner"></div>-->
<!--    </div>-->

<!--  </div>-->
</div>

